In [1]:
import pandas as pd
from datetime import datetime
from IPython.display import display, HTML

In [2]:
data = pd.read_csv("../Datasets/siri.20121106.csv", names = ['Timestamp','LineID','Direction','JourneyPatternID','TimeFrame','VehicleJourneyID','Operator','Congestion','Long','Lat','Delay','BlockID ','VehicleID','StopID','AtStop'])

c:\users\owen\appdata\local\programs\python\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
data.shape[0]

1765912

In [9]:
vehicles = data.VehicleID.unique()
print(len(vehicles))

835

In [10]:

journeysDF = pd.DataFrame()
v = vehicles[0]
pings = data[data.VehicleID == v]
print(len(pings.VehicleJourneyID.unique()))
output = pings[['LineID', 'Direction', 'JourneyPatternID', 'VehicleJourneyID', 'StopID', 'AtStop', 'Timestamp']].copy()
output['TimeF'] = pings.Timestamp.apply(lambda x: datetime.utcfromtimestamp(x/1000000).strftime('%Y-%m-%d %H:%M:%S'))

28

In [5]:
display(HTML(output.to_html()))

In [6]:
journeys = output.VehicleJourneyID.unique()
display(HTML(output[output.VehicleJourneyID == journeys[1]].to_html()))

In [11]:
o = pd.DataFrame(columns = ['JourneyID','Route', 'StartTime', 'Endtime', 'Duration'])
for j in journeys:
    journey = output[output.VehicleJourneyID == j]
    print(len(journey.StopID.unique()))
    route = journey.iloc[0].LineID
    startTime = journey.iloc[0].TimeF
    endTime = journey.iloc[-1].TimeF
    x = journey.iloc[-1].Timestamp - journey.iloc[0].Timestamp 
    duration = datetime.utcfromtimestamp(x/1000000).strftime('%H:%M:%S')
    o = o.append({'JourneyID': j, 'Route': route, 'StartTime': startTime, 'Endtime': endTime, 'Duration': duration}, ignore_index = True)

1
2
30
1
37
1
31
18
1
34
1
38
2
33
1
37
1
33
1
38
27
1
37
1
34
1
34
1

In [8]:
display(HTML(o.to_html()))