In [28]:
import pandas as pd
import datetime
from IPython.display import display, HTML

In [29]:
data = pd.read_csv("../Datasets/siri.20121106.csv", names = ['Timestamp','LineID','Direction','JourneyPatternID','TimeFrame','VehicleJourneyID','Operator','Congestion','Long','Lat','Delay','BlockID ','VehicleID','StopID','AtStop'], dtype = {"LineID": str})
display(HTML(data.head(10).to_html()))

In [30]:
data['Timestamp'] = data['Timestamp'].apply(lambda ticks: datetime.datetime.fromtimestamp(ticks/1_000_000))
display(HTML(data.head(10).to_html()))