In [1]:
import pandas as pd
from IPython.display import display, HTML
from datetime import datetime

In [2]:
data = pd.read_csv("Datasets/siri.20121106.csv", names = ['Timestamp','LineID','Direction','JourneyPatternID','TimeFrame','VehicleJourneyID','Operator','Congestion','Long','Lat','Delay','BlockID ','VehicleID','StopID','AtStop'])

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3044: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
vehicles = data.VehicleID.unique()
v = vehicles[0]

In [9]:
pings = data[data.VehicleID == v]
output = pings[['LineID', 'Direction', 'JourneyPatternID', 'VehicleJourneyID', 'StopID', 'AtStop', 'Timestamp']].copy()
output['TimeF'] = pings.Timestamp.apply(lambda x: datetime.utcfromtimestamp(x/1000000).strftime('%Y-%m-%d %H:%M:%S'))
journeys = output.VehicleJourneyID.unique()
print(journeys)
j = journeys[3]
o = pd.DataFrame(columns = ['JourneyID','Route', 'StartTime','StartStop', 'Endtime', 'EndStop', 'Duration', 'RawDuration'])
# for j in journeys:
journey = output[(output['VehicleJourneyID'] == j)(output['AtStop']== 1)]
# route = journey.iloc[0].LineID
display(HTML(journey.to_html()))

[5826 1338 1430 1339 1431 1340 1432 1433 1342 1434 1343 1435 1344 1436
 1345 1437 1346 1438 1347 1439 1440 1349 1441 1350 1442 1351 1443 1352]